/* MOBILE */
@media all and (max-width: 767px) {
    /* PAGE */
    body {
        padding: 0px;
    }

    section {
        padding: 0px 15px;
    }

    /* HEADER */
    header {
        flex-direction: column;  
        align-items: center; 
    }
    header picture {
        justify-content: center;
        padding: 0px;
    }
    header picture img {
        max-width: 40%;
    }

    /* BARRE DE NAVIGATION */
    nav {
        width: 100%;
    }
    nav a {
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: solid 3px #F2F2F2;
        border-top: none;
    }
    nav a:hover{
        border-bottom: solid 3px #0065FC;
        border-top: none;
    }
    
    /* BARRE DE RECHERCHE */
    #search {
        width: 67%;
    }
    #button_r {
        border-radius: 12px;
        display: initial;
    }
    #button {
        display: none;
    }

    .heb_1, .heb_2, .popu_1, #zone, .heberg {
        flex-direction: column;
    }

    /* FILTRES */
    .filtre {
        margin: 0px 10px 10px 0px;
    }
    .card-body {
    font-size: medium;
    }
    .card-star {
        font-size: smaller;
    }

    /* HEBERGEMENTS */
    #heberg, #popu {
        border-radius: 0px;
    }
    #accommodation {
        padding: 0px;
    }
    

    #popu .card {
        height: 130px;
    }
    #popu .card-image {
        min-width: 40%;
    }
    #heberg {
        width: 100%;
        background-color: white;
    }

    /* ACTIVITES */
    #activities {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .container {
        width: 100%;
        margin-bottom: 20px;
    }

    /* FOOTER */
    #footer {
        flex-direction: column;
        align-items: center;
    }
    footer div {
        width: 300px;
        padding: 14px;
    }
}
/* FIN MOBILE */