* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   /* box-sizing est appliqué à tous les éléments */
   }

@viewport { 
    width: device-width; 
    zoom: 1; 
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    body {
        width: 70%;
    }
    header {
        height: 100px;
        align-items: flex-end;
    }

    header picture img {
        max-width: 60%;
    }
    nav {
        width: 190px;
        align-self: flex-start;
    }
    nav a {
        padding-top: 20%;
        border-top: solid 3px #F2F2F2;
    }
    nav a:hover{
        border-top: solid 3px #0065FC;
    }
    #button_r {
        display: none;
    }
}
/* FIN DESKTOP */


/* TABLET */
@media all and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 90%;
    }
    header {
        height: 100px;
        align-items: flex-end;
    }

    header picture img {
        max-width: 60%;
    }
    nav {
        width: 190px;
        align-self: flex-start;
    }
    nav a {
        padding-top: 20%;
        border-top: solid 3px #F2F2F2;
    }
    nav a:hover{
        border-top: solid 3px #0065FC;
    }
    #button_r {
        display: none;
    }
}

/* FIN TABLET */


/* MOBILE */
@media all and (max-width: 767px) {

    section {
        margin: 5%;
    }
    header {
        flex-direction: column;   
    }
    header picture img {
        max-width: 30%;
    }
    nav a {
        padding-top: 5%;
        padding-bottom: 3%;
        border-bottom: solid 3px #F2F2F2;
    }
    nav a:hover{
        border-bottom: solid 3px #0065FC;
    }
    #button_r {
    border-radius: 12px;
    }
    #button {
        display: none;
    }
}
/* FIN MOBILE */

/* PAGE */
body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}
header picture {
    display: flex;
    justify-content: center;
}


/* Barre de nav */
nav {
    display: flex;
    justify-content: space-between;
}
nav a {
    width: 50%;
    height: auto;
    text-align: center;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #0065FC;
}

/* Barre de recherche */
.sigle {
    border: solid 1px #DEEBFF;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;    
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#location {
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

#search {
    position: relative;
    border: solid 1px #F2F2F2;
    height: 40px;
    left: -5px;
    top: 1px;
    padding-left: 1%;
    color: black;
    font-weight: bold;
}

.button {
    background-color: #0065FC;
    border: solid 1px #0065FC;
    color: white;
    width: auto;
    position: relative;
    left: -20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}