/* PAGE */
* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   /* box-sizing est appliqué à tous les éléments */
}
@viewport { 
    width: device-width; 
    zoom: 1; 
}
body {
    max-width: 1100px;
    padding: 0px 20px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}


/* HEADER */
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header picture {
    display: flex; /* A suppr */
    padding-left: 15px;
}
header picture img {
    max-width: 50%;
}


/* BARRE DE NAVIGATION */
nav {
    display: flex;
    align-self: flex-start;
    width: 230px;
}
nav a {
    width: 50%;
    padding-top: 40px;
    text-align: center;
    border-top: solid 3px #F2F2F2;
}
nav a:hover{
    color: #0065FC;
    border-top: solid 3px #0065FC;
}


/* BARRE DE RECHERCHE */
.sigle {
    border: solid 1px #DEEBFF;
    background-color: #DEEBFF;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    overflow: overlay;
}
#location {
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}
#search {
    position: relative;
    border: solid 1px #F2F2F2;
    height: 35px;
    left: -5px;
    top: -12px;
    padding-left: 1%;
    color: black;
    font-weight: bold;
}
.button {
    background-color: #0065FC;
    border: solid 1px #0065FC;
    color: white;
    width: auto;
    position: relative;
    left: -25px;
    top: -13px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-top: 0px;
}
#button_r {
    display: none;
}


/* FILTRES */
#zone {
    display: flex;
    justify-content: left;
    font-weight: bold;
}
.filtres {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.filtre {
    display: flex;
    margin-left: 20px;
}
.filtre .sigle {
    border-radius: 50%;
    color: #0065FC;
}
.filtre p {
    border: solid 2px #F2F2F2;
    border-left: hidden;
    border-top-right-radius: 20em;
    border-bottom-right-radius: 20em;
    margin: 0px 0px 14px -20px;
    padding: 8px 10px 0px 25px;
}

/* INFO */
#info {
    display: flex;
    align-items: baseline;
}
#info_icon {
    border: solid 1px #DEEBFF;
    color: #0065FC;
    font-size: 13px;
    border-radius: 50%;
    padding: 4px 8px;
    margin-right: 10px;
}

/* HEBERGEMENTS */
#accommodation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* SECTIONS */
#heberg, #popu {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;    
}
#heberg {
    width: 65%;
}
#popu {
    width: 30%;
    display: flex;
    align-items: center;
}
.popu_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#accommodation h3, #accommodation h2 {
    padding-left: 10px;
    font-weight: bolder;
    align-self: flex-start;
}
.titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.titre i {
    font-size: 20px;
}

/* CARD */
.card {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 20px #d3d3d3;
    border-radius: 20px;
    margin-bottom: 20px;
}
.card-image img {
    object-fit: cover;
    padding: 3px;
    border-top-left-radius: 20px;
}
#accommodation h4 {
    font-weight: bolder; 
}

.card-star  {
    color: #0065FC;
    font-size: xx-small;
}
.blank {
    color: #F2F2F2;
}



/* SECTION HEBERGEMENTS */
.heb_1, .heb_2 {
    display: flex;
    justify-content: space-around;
}
#heberg .card {
    flex-direction: column;
}
#heberg .card-image img {
    width: 180px;
    height: 90px;
    border-top-right-radius: 20px;
}
#heberg .card-body {
    padding: 0px 0px 6px 11px;
    margin-top: -8px;
    line-height: 0px;
    font-size: smaller;
}


/* SECTION POPULAIRE */
#popu .card {
    height: 122px;
    width: 240px;
}
#popu .card-image img {
    height: 122px;
    width: 120px;
    border-bottom-left-radius: 20px;
}
#popu .card-body {
    padding-left: 4px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: smaller;
}
.texte {
    width: 100%;
    height: 90px;
}


/* ACTIVITES */
#activities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    height: 330px;
    margin-bottom: 30px;
}
#activities a {
    display: contents;
}
.container {
    width: 235px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
}
.corps {
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 12px #cecece;
    border-radius: 18px;
}
.corps img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#activities p {
    overflow: overlay;
    background-color: white;
    margin-top: -45px;
    padding: 12px 15px;
    font-weight: bolder;
}
.t1 {
    height: 100%;
}
.t2 {
    height: 49%;
}
.t3 {
    height: 41%;
}
.t4{
    height: 46%;
}
.t5 {
    height: 38%;
}


/* FOOTER */
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    left: 0;
}
#footer {
    display: flex;
    width: 1100px;
    justify-content: space-around;
    padding: 20px 0px;
}
ul {
    padding-left: 0px;
    font-weight: bold;
}
li {
    list-style-type: none;
    line-height: 23px;
}
