/* PAGE */
* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   /* box-sizing est appliquÃƒÂ© ÃƒÂ  tous les ÃƒÂ©lÃƒÂ©ments */
}
@viewport { 
}
body {
    max-width: 1100px;
    padding: 0px 20px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.button, .filter, li, picture {
    cursor: pointer;
}


/* HEADER */
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header picture {
    display: flex;
    padding-left: 15px;
}
header picture img {
    max-width: 51%;
}


/* BARRE DE NAVIGATION */
nav {
    display: flex;
    align-self: flex-start;
    width: 230px;
}
nav a {
    width: 50%;
    padding-top: 40px;
    text-align: center;
    border-top: solid 3px #F2F2F2;
}
nav a:hover{
    color: #0065FC;
    border-top: solid 3px #0065FC;
}


/* BARRE DE RECHERCHE */
#search_bar p {
    width: 80%;
    display: flex;
}
#location {
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    position: inherit;
}
.sigle {
    border: solid 1px #DEEBFF;
    background-color: #DEEBFF;
    width: 35px;
    height: 35px;
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
    position: absolute;
}
#search_box {
    border: solid 1px #F2F2F2;
    padding-left: 10px;
    font-weight: bold;
}
.button {
    background-color: #0065FC;
    border: solid 1px #0065FC;
    color: white;
    width: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-top: 2px;
    position: inherit;
}
.button:hover {
    background-color: #0357d6;
    border: solid 1px #0357d6;
}
#search_button_r {
    display: none;
}


/* FILTRES */
#filter_zone {
    display: flex;
    font-weight: bold;
}
#filter_box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.filter {
    margin: auto 10px;
}
.filter .sigle {
    border-radius: 50%;
    color: #0065FC;
}
.filter p {
    border: solid 2px #F2F2F2;
    border-top-right-radius: 20em;
    border-bottom-right-radius: 20em;
    margin: 0px 0px 0px 15px;
    padding: 6px 10px 6px 25px;
}
.filter p:hover {
    background-color: #F2F2F2;    
}


/* INFO */
#info_box {
    display: flex;
    align-items: baseline;
    font-size: smaller;
}
#info_icon {
    border: solid 1px #DEEBFF;
    color: #0065FC;
    font-size: 13px;
    border-radius: 50%;
    padding: 4px 8px;
    margin-right: 10px;
}


/* SECTIONS HEBERGEMENTS */
#accommodation_marseille {
    display: flex;
    justify-content: space-between;
}
#accommodation_marseille a {
    width: 100%;
    margin: 5px;
}
#accommodation_marseille h3, h2 {
    padding-left: 10px;
    font-weight: bolder;
    align-self: flex-start;
}
#accommodation_marseille h4 {
    font-weight: bolder; 
}
#accommodation, #populare {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px;
}


/* SECTION HEBERGEMENT */
#accommodation {
    width: 65%;
}
.accommodation_card {
    display: flex;
}
#accommodation .card {
    flex-direction: column;
    height: 160px;
}
#accommodation .card-image {
    height: 65%;
}
#accommodation .card-image img {
    border-top-right-radius: 20px;
}
#accommodation .card-body {
    padding: 0px 0px 6px 11px;
    margin-top: -8px;
    line-height: 0px;
}
#show_more {
    margin: 0px;
}


/* SECTION POPULAIRE */
#populare {
    width: 30%;
}
#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title i {
    font-size: 20px;
}
#populare_card {
    display: flex;
    flex-direction: column;
}
#populare .card {
    height: 115px;
}
#populare .card-image {
    min-width: 45%;
    width: 45%;
}
#populare .card-image img {
    border-bottom-left-radius: 20px;
}
#populare .card-body {
    padding: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


/* CARTES */
.card {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 20px #d3d3d3;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card-image img {
    object-fit: cover;
    padding: 3px;
    border-top-left-radius: 20px;
    height: 100%;
    width: 100%;
}
.card-body {
    font-size: smaller;
}
.card-star  {
    color: #0065FC;
    font-size: xx-small;
}
.blank {
    color: #F2F2F2;
}
.card:hover, .container_box:hover, header picture img:hover {
    transform: scale(1.03);
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.2s; 
}


/* ACTIVITES */
#activities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    height: 330px;
    margin-bottom: 30px;
}
#activities a {
    display: contents;
}
.container_box {
    width: 235px;
}
.container {
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 12px #cecece;
    border-radius: 18px;
    position: relative;
}
.container_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#activities p {
    background-color: white;
    margin-top: -45px;
    padding: 12px;
    font-weight: bolder;
    position: absolute;
    width: 100%;
}
.t1 {
    height: 100%;
}
.t2 {
    height: 49%;
}
.t3 {
    height: 41%;
}
.t4{
    height: 46%;
}
.t5 {
    height: 38%;
}


/* FOOTER */
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    left: 0;
}
#footer_box {
    display: flex;
    width: 1100px;
    justify-content: space-around;
    padding: 20px 0px;
}
footer p {
    font-weight: bold;
}
ul {
    padding-left: 0px;
}
li {
    list-style-type: none;
    line-height: 30px;
}
li:hover {
    font-weight: bold;
}