/* TABLET */
@media all and (max-width: 992px) {
    /* FILTRES */
    #zone {
        flex-direction: column;
    }
    .filtre p {
        margin-bottom: 0px;
    }
    
    /* HEBERGEMENTS */
    #accommodation {
        flex-direction: column-reverse;
    }

    #popu, #heberg  {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
    }
    .popu_1 {
        flex-direction: row;
        justify-content: space-around;
    }

    /* SECTION POPULAIRE */

    /* ACTIVITES */
    #activities {
        flex-direction: row;
        height: auto;
    }
    #activities p {
        margin-top: -52px;
        padding: 17px 15px;
    }
    .container {
        width: 45%;
        margin: 10px auto;
    }
    .t1, .t2, .t3, .t4, .t5 {
        height: 180px;
    }
}
/* FIN TABLET */