/* TABLET */
@media all and (max-width: 992px) {
    /* FILTRES */
    #filter_zone {
        flex-direction: column;
    }

    /* SECTIONS HEBERGEMENTS */
    #accommodation_marseille {
        flex-direction: column-reverse;
    }
    #populare, #accommodation  {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    /* SECTION POPULAIRE */
    #populare_card {
        flex-direction: row;
        justify-content: space-around;
    }

    /* ACTIVITES */
    #activities {
        flex-direction: row;
        height: auto;
    }
    #activities p {
        margin-top: -52px;
        padding: 17px 15px;
    }
    .container_box {
        width: 45%;
        margin: 10px auto;
    }
    .t1, .t2, .t3, .t4, .t5 {
        height: 180px;
    }
}
/* FIN TABLET */