/* TABLET */
@media all and (max-width: 992px) {
    /* FILTRES */
    #zone {
        flex-direction: column;
    }
    .filtre p {
        margin-bottom: 0px;
    }
    
    /* HEBERGEMENTS */
    #accommodation {
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    #heberg, #popu {
        padding: 12px;
    }
    #popu, #heberg  {
        width: 100%;
        margin-bottom: 20px;
    }
    .popu_1 {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: auto;
    }

    /* SECTION POPULAIRE */
    #popu .card {
        width: 235px;
    }

    /* ACTIVITES */
    #activities {
        height: 600px;
    }
    #activities p {
        margin-top: -52px;
        padding: 17px 15px;
    }
    .container {
        width: 45%;
        margin: auto;
    }
    .t1, .t2, .t3, .t4, .t5 {
        height: 180px;
    }

    /* FOOTER */
    #footer {
        width: 100%;
    }
    footer div {
        width: auto;
    }
}

/* FIN TABLET */